body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Courier New', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(
    90deg,
    rgba(14, 15, 222, 1) 0%,
    rgba(6, 168, 187, 1) 59%
  );
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
